* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navigation */

.navigationBar {

    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;

    align-items: center;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.menuList {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    gap: 50px;
}

#SavedRecipebutton {
    background-color: rgb(236, 96, 31);
    color: white;
    border: 0px;
    border-radius: 4px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Front Banner */
.frontBanner {
    background-image: url('images/hero-banner-large.jpg');
    background-repeat: no-repeat;
    width: 96%;
    border-radius: 3px;
    margin: auto;
    margin-top: 40px;
    height: 500px;
}

#searcharea {
    margin: auto;
    text-align: center;


}

#headerSearch {
    padding-top: 110px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.3rem;

}

#searchBar {
    margin: 0px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
    width: 29%;

}

#submitbutton {

    width: 8%;
    padding: 10px;
    background: rgb(236, 96, 31);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.SearchContainer {
    margin-top: 21px;
}

#annotationText {
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 0.7rem;
    color: rgb(76, 76, 76);
}


/*  Second Banner*/

.SecondBanner {
    width: 80%;

    margin: auto;
    margin-top: 40px;

    display: flex;
    justify-content: space-around;

}

.itemSB {
    width: 20%;
    text-align: center;
    transition: border 2s ease;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    color: rgb(76, 76, 76);
}

.itemSB:hover {
    border-bottom: 1px solid rgb(236, 96, 31);
}




.recipeTextdesc {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 0.8rem;
    padding: 4px;
    color: rgb(76, 76, 76);
}


.imagecolumn {
    margin: auto;
    width: 80%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 30px;
    justify-content: center;
}

.theimagecontainer {

    width: 200px;
    height: 200px;
}


/* Footer */

#thefooter {

    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    align-items: center;
    border-top: 1px solid rgb(180, 180, 180);
}

.Specific-item {
    margin-top: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.IndividualImage {
    width: 400px;
    height: 400px;
    
}

.thetextforindividualimage {

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.9rem;
    padding: 4px;
    color: rgb(76, 76, 76);
}

.thetextforindividualimagesecond {
margin-top: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.2rem;
    padding: 20px;
   word-spacing: 19px;
    color: rgb(76, 76, 76);
}


.thetextforindividualimagethird {
    margin-top: 30px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.7rem;
        padding: 4px;
       word-spacing: 5px;
        color: rgb(76, 76, 76);
    }

    .thetextforindividualimagethird {
    margin-top: 30px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.7rem;
        padding: 4px;
       word-spacing: 5px;
        color: rgb(76, 76, 76);
    }

    
    .thetextforindividualimagefourth{
width:700px;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 1.2rem;
            padding: 4px;
           word-spacing: 5px;
            color: rgb(76, 76, 76);
        }